@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@603&family=Oswald:wght@700&display=swap');

body {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.digital-clock {
    display: flex;
    font-size: 65px;
    border-radius: 50%;
    padding: 30px 50px;
    box-shadow: 0 4px 4px pink;
    color: #fff;
    background-color:red;
    div {
        text-shadow: 3px 2px pink;
        margin: 0 5px;
    }
}